.catalog h1 {
  text-align: center;
}

.catalog .product-list {
  display: inline-block;
  width: 200px;
  height: 320px;
  border: 1px solid #fafafa;
  margin-bottom: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
}